@{
    ViewBag.Title = "About";
}

    <div class="item">
    <img src="~/Content/Images/aboutfinal.jpg" width="1200" height="400" alt="Second slide">
   <br />
        <br />
        <div class="col-md-12">
            <center>
                <h2>DOSE Manila is a Makati based 100% Philippine owned and operated store</h2>
                <p>
                    Dose is a rising boutique that offers wide variety of clothes, accessories and skin care products from different brands. It made a large noise and became popular when the owners established some social media pages such as Facebook and Instagram.
                    This was formed when its owner, Mr. Christian Constantino got involved with fashion. He got interested with bringing the American trend style of clothing to the country and started a small business. The store was established back in October 2015, and merged with the café called “The Meeting Place”.
                </p>
            </center>
        </div>
    </div>

<br />
<br /><br /><br />
<br />


<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

